{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="{% static 'css/home_css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_css/popup_post.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezH3R2z8rM8iJQL7E1Dt5ewJkviqZIuywCcFay1meiH0FUpnTOw8gF7JKDA9D4S+Q" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        {% include 'core/navbar.html' %}

        <div class="search">
            <input type="text" placeholder="Search" style="height: 30px; margin-top: 50px; border-radius: 10px; border: .5px solid;" >
        </div>
        
        <div class="center">
            <div class="head">
                <img src="{% static 'images/home_images/instagramlogo.png' %}" alt="">
                <input type="text" placeholder="Search">
            </div>
            {% include 'core/stories.html' %}
            {% include 'core/post.html' %}
            {% include 'core/tools.html' %}
    {% include 'core/popup_post.html' %}        <!--INCLUDING POST POPUP-->

        </div>

        <div class="suggestion">
            <h3 style="margin-left:50px; font-family: sans-serif;">{{request.user.username}}</h3>
            <img src="{% static 'images/home_images/suggested.png' %}" alt="">
        </div>

        <script type="module" src="{% static 'javascript/home_js/homepage.js' %}"></script>
    </div>
</body>
</html>
