{% load static %}

<div class="stories">
    <div><img src="{% static 'images/status_dummy/me.png' %}" alt=""></div>
    <div><img src="{% static 'images/status_dummy/james.png' %}" alt=""></div>
    <div><img src="{% static 'images/status_dummy/tony.png' %}" alt=""></div> 
    <div><img src="{% static 'images/status_dummy/ratan.png' %}" alt=""></div> 
    <div><img src="{% static 'images/status_dummy/peter.png' %}" alt=""></div> 
    <div><img src="{% static 'images/status_dummy/bill1.png' %}" alt=""></div> 
    <div><img src="{% static 'images/status_dummy/narayan.png' %}" alt=""></div> 
    <div><img src="{% static 'images/status_dummy/spiritual.png' %}" alt=""></div>
</div>