{% load static %}

<div class="tools"> 
    <a href="{% url 'home_feed_view' %}"><button type="button"><div><img src="{% static 'images/home_images/home.svg' %}"  alt=""><p>Home</p></div></button></a>
    <button type="button"><div><img src="{% static 'images/home_images/search.svg' %}"  alt=""><p>Search</p></div></button>
    <button type="button"><div><img src="{% static 'images/home_images/explore.svg' %}"  alt=""><p>Explore</p></div></button>
    <button type="button"><div><img src="{% static 'images/home_images/reel.svg' %}"  alt=""><p>Reels</p></div></button>
    <button type="button"><div><img src="{% static 'images/home_images/message.svg' %}"  alt=""><p>Messages</p></div></button>
    <button type="button"><div><img src="{% static 'images/home_images/notification.svg' %}"  alt=""><p>Notifications</p></div></button>
    <button type="button" id ="create"><div><img src="{% static 'images/home_images/create.svg' %}"  alt=""><p>Create</p></div></button>
    <a href="{% url 'profile_view' request.user.username %}">
        <button type="button"><div>
            {% if request.user.picture %}
                <img src="{{ request.user.picture.url }}"  alt=""><p>Profile</p></div>
            {% else %}
                <img src="{% static 'images/home_images/profile.svg' %}"  alt=""><p>Profile</p></div>
            {% endif %}
        </button>
    </a>
    <button type="button" class="thread"><div><img src="{% static 'images/home_images/threads.svg' %}"  alt=""><p>Threads</p></div></button>
    <button type="button" class="more"><div><img src="{% static 'images/home_images/more.svg' %}"  alt=""><p>More</p></div></button>
    <form action="{% url 'signout_view' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="log"><div><img src="{% static 'images/home_images/logout.png' %}" alt=""><p>Log out</p></div></button>
    </form> 
</div>        


