{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <link rel="stylesheet" href="{% static 'css/authentication/singuppage.css' %}">
  <script src="https://kit.fontawesome.com/cf99b9e475.js" crossorigin="anonymous"></script>   
</head>
<body>
  <div class="container2">
        <div class="page">
            <div class="title"><img src="{% static 'images/authentication/instagramlogo.png'%}" alt=""></div>
            <form class="signup-form" method="post">
                {% csrf_token %}
                <p class="a">Sign up to see photos and videos from your friends.</p>
                <button><span class="fab fa-facebook"></span>Log in with Facebook</button>
                <div class="option">OR</div>
                <input id="id_email" type="email" name="email" placeholder="Email address">
                <input id="id_full_name" type="text" name="full_name" placeholder="Full Name">
                <input id="id_username" type="text" name="username" placeholder="Username">
                <input id="id_password1" type="password" name="password1" placeholder="Password">
                <input id="id_password2" type="password" name="password2" placeholder="Retype Password">
                <p class="b">People who use our service may have uploaded your contact information to Instagram. Learn more</p>
                <p class="c">By signing up, you agree to our Terms, Privacy Policy and Cookies Policy.</p>
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="log-in"><p>Have an account?<a href="#">Log in</a></p></div>
        <p>Get the app.</p>
        <button type="button"><i class="fa-brands fa-apple"></i> App Store</button>    <!-- icon added using font awesome -->
        <button type="button"><i class="fa-brands fa-google-play"></i> Google Play</button>
  </div>
</body>
</html>