{% load static %}

<div class="head">
    <div class="a">
        {% if user.picture %}
        <img class="profile_img" src="{{ request.user.picture.url }}" alt="">
        {% else %}
        <img class="profile_img" src="{% static 'images/home_images/profile.svg' %}" alt="User_image">
        {% endif %}
        <img class="add" src="{% static 'images/profile_images/add.png' %}" alt="">
    </div>
    <div class="b">
        <div class="c">
            <p>{{request.user.username}}</p>
            <button>Edit Profile</button>
            <button>View archive</button>
            <img src="{% static 'images/profile_images/settings.png' %}" alt="">
        </div>

        <div class="d">
            <p><strong>{{request.user.post_set.count}}</strong> posts</p>
            <p><strong>210</strong> followers</p>
            <p><strong>326</strong> following</p>
        </div>
        <div class="e">
            <h5>{{request.user.full_name}}</h5>
        </div>
    </div>  
</div>
