{% load static %}

<div class="pics">
    <div class="posted_img">
        <img src="{% static 'images/status_dummy/bill.png' %}" alt="">
        <img src="{% static 'images/status_dummy/james.png' %}" alt="">
        <img src="{% static 'images/status_dummy/spiritual.png' %}" alt="">
        <img src="{% static 'images/status_dummy/me.png' %}" alt="">
        <img src="{% static 'images/status_dummy/narayan.png' %}" alt="">
        <img src="{% static 'images/status_dummy/ratan.png' %}" alt="">
    </div>
    <div class="saved_img">
        <img src="{% static 'images/status_dummy/ratan.png' %}" alt="">
        <img src="{% static 'images/status_dummy/narayan.png' %}" alt="">
        <img src="{% static 'images/status_dummy/james.png' %}" alt="">
        <img src="{% static 'images/status_dummy/me.png' %}" alt="">
        <img src="{% static 'images/status_dummy/bill.png' %}" alt="">
        <img src="{% static 'images/status_dummy/spiritual.png' %}" alt="">                        
    </div>
</div>
