{% load static %}

<div class="pics">
    {% if request.user.post_set.count != 0 %}
    <div class="posted_img">
        {% for post in request.user.post_set.all %}
        <div class="post">
            <img src="{{ post.image.url }}" alt="">
            <div>
                <div style="display: flex; gap: 5px;">
                    <img style="padding: 0; margin: 0;" class="like" src="{% static '/images/profile_images/notification.svg' %}" alt="">
                    <p style="padding: 0; margin: 0;">{{post.likes_count}}</p>
                </div>
                <div style="display: flex; gap: 5px;">
                    <a href="{% url 'comment_page' post.id %}"><img src="{% static 'images/home_images/message.svg' %}" alt=""></a>
                    <p style="padding: 0; margin: 0;">{{post.comments_count}}</p>
                </div>
                <div style="display: flex; gap: 5px;">
                    <a data-toggle="modal" data-target="#post_delete_{{ post.pk }}"><img class="delete" src="{% static '/images/profile_images/delete.svg' %}" alt=""></a>
                </div>    
            </div>
        </div>
        {% endfor %}

        <div id="deleteModal" class="modal" style="margin-top: 20%;">
            <div class="modal-content">
                <!-- Close button -->
                <span class="close12" onclick="document.getElementById('deleteModal').style.display='none'">&times;</span>
                <p>Are you sure you want to delete this post?</p>
                <button id="confirmDelete">Delete</button>
                <button id="cancelDelete">Cancel</button>
            </div>
        </div>


    </div>
    {% endif %}

    <div class="saved_img">
        <img src="{% static 'images/status_dummy/ratan.png' %}" alt="">
        <img src="{% static 'images/status_dummy/narayan.png' %}" alt="">
        <img src="{% static 'images/status_dummy/james.png' %}" alt="">
        <img src="{% static 'images/status_dummy/me.png' %}" alt="">
        <img src="{% static 'images/status_dummy/bill.png' %}" alt="">
        <img src="{% static 'images/status_dummy/spiritual.png' %}" alt="">                        
    </div>
</div>
