{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile_css/profilepage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezH3R2z8rM8iJQL7E1Dt5ewJkviqZIuywCcFay1meiH0FUpnTOw8gF7JKDA9D4S+Q" crossorigin="anonymous">    
</head>
<body>
    <div class="container">
        {% include 'core/navbar.html' %}

        <div class="main">
            <div class="center">
                {% include 'user/head_section.html' %}
                {% include 'user/posts_section.html' %}                
            </div>
        </div>
    </div>
</body>
</html>